MyProject/.vs
MyProject/Binaries
MyProject/Content/StarterContent
MyProject/Intermediate
MyProject/Saved
/.vs
MyProject/Content/Maps
MyProject/Content/InfinityBladeEffects
MyProject/Content/InfinityBladeAdversaries
MyProject/Content/InfinityBladeWeapons